
.header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 100%;
    padding: 14px 15px;
}

.header a {
    position: absolute;
    left: 15px; 
    font-size: 24px;
    color: #353535; 
}

.header img {
    height: 34px;
    width: 200px;
}
