.card {
    background-color: white;   
    border-radius: 15px;     
    overflow: hidden;        
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}


.card img {
    width: 100%;          
    height: 200px;       
    object-fit: cover;      
}

a {
    text-decoration: none;
}
.card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-txt {
    display: flex;          
    flex-direction: column;
    padding: 10px;
    width: 100%;
}


.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;              
    margin: 0; 
    color: #000;              
}


.card-subtitle {
    font-size: 18px;          
    color: #777;               
    margin: 0;               
}

@media (max-width: 430px) {
    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card-subtitle {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 60%;
        padding-right: 10px;
    }

 
    .card-price {
        visibility: hidden;
        position: relative;
    }

    .card-price::after {
        content: "...";
        visibility: visible;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
}


.restaurant-cards .card .card-new {
    position: absolute; 
    top: 13px;         
    right: 12px;    
}

.card-new{
    width: 80px;
    height:29px;
    background-color: rgb(153, 226, 208);
    color: #008758;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}