@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  /* Empêche le zoom sur mobile */
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}

ul, ol {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  max-width: 1440px;
  margin: auto;
}

img {
  max-width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}

.fa-solid {
  color: var(--main-color);
}

button:hover {
  box-shadow: 8px 12px 15px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 14px 15px;
}

.header a {
  position: absolute;
  left: 15px;
  font-size: 24px;
  color: #353535;
}

.header img {
  height: 34px;
  width: 200px;
}

.footer {
  background-color: #353535;
  padding: 25px;
}

.footer h2 {
  color: white;
  font-size: 32px;
  font-weight: 400;
  font-family: "Shrikhand";
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .footer h2 {
    position: relative;
    bottom: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .footer article {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .footer ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
.footer ul li {
  font-size: 20px;
  color: white;
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

.footer ul li i {
  color: white;
  font-size: 22px;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.form-container {
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-color: #EAEAEA;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container i {
  color: #0f0f0f;
}

form input[type=text] {
  height: 50px;
  border: 0;
  font-size: 20px;
  text-align: center;
  color: #353535;
  background-color: #EAEAEA;
}

form input::placeholder {
  font-weight: bold;
  color: black;
}

/****** EXPLORE ***********/
.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f1f1f1;
  padding-bottom: 45px;
}

.explore h1 {
  font-size: 39px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.explore p {
  font-size: 23px;
  margin-bottom: 30px;
  color: #353535;
  font-weight: 300;
}

.btn-explore button {
  padding: 22px 50px;
  font-size: 22px;
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}

.btn-explore button:hover {
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.3);
  filter: brightness(1.2);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid #99E2D0;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  opacity: 0.8;
  z-index: 1000;
  animation: spin 1s linear infinite, hideLoader 0s ease 3s forwards;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.3); /* Gris très clair */
  z-index: 999;
  animation: hideLoader 0s ease 3s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideLoader {
  to {
    display: none;
    opacity: 0;
  }
}
.card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-txt {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  margin: 0;
  color: #000;
}

.card-subtitle {
  font-size: 18px;
  color: #777;
  margin: 0;
}

@media (max-width: 430px) {
  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .card-subtitle {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
    padding-right: 10px;
  }
  .card-price {
    visibility: hidden;
    position: relative;
  }
  .card-price::after {
    content: "...";
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.restaurant-cards .card .card-new {
  position: absolute;
  top: 13px;
  right: 12px;
}

.card-new {
  width: 80px;
  height: 29px;
  background-color: rgb(153, 226, 208);
  color: #008758;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

/****** FONCTIONNEMENT ***********/
.fonctionnement {
  padding: 50px 19px;
}

@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 10%;
  }
}
.fonctionnement h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.fonctionnement-btns {
  padding-left: 10px;
}

.fonctionnement-btns ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .fonctionnement .fonctionnement-btns ol {
    flex-direction: row;
    justify-content: center;
  }
}
.fonctionnement-btns li {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  position: relative;
}

.fonctionnement-btns li::before {
  content: attr(value);
  background-color: #9356DC;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
}

.fonctionnement-btn {
  padding: 30px 50px;
  width: 100%;
  font-size: 18px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}

.fonctionnement-btn i {
  font-size: 22px;
  color: #7E7E7E;
}

.fonctionnement-btns li::before button:hover {
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.3);
  filter: brightness(1.5);
}

.fonctionnement-btn:hover i {
  color: #9356DC;
}

/****** RESTAURANT ***********/
.restaurant {
  background-color: #f1f1f1;
  padding: 50px 19px;
}

@media screen and (min-width: 1024px) {
  .restaurant {
    padding: 50px 10%;
  }
}
.restaurant h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .restaurant .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant-cards a {
    width: 46%;
  }
}
.heart-container {
  position: absolute;
  top: 74%;
  right: 6%;
  cursor: pointer;
}

.heart-empty {
  position: absolute;
  top: 13px;
  left: -26px;
  font-size: 25px;
  color: black;
  transition: opacity 0.3s ease-in-out;
}

.heart-full {
  position: absolute;
  top: 13px;
  left: -26px;
  font-size: 25px;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.heart-container:hover .heart-empty {
  opacity: 0;
}

.heart-container:hover .heart-full {
  opacity: 1;
}

.heart-container:active .heart-empty {
  opacity: 0;
}

.heart-container:active .heart-full {
  opacity: 1;
}

.entree-and-plats-and-desserts h1 {
  font-family: "Shrikhand";
  padding-left: 27px;
  font-weight: 300;
}

.img-title {
  width: 100%;
  height: clamp(250px, 50vh, 500px);
  position: relative;
  z-index: 1;
}

.img-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entree-and-plats-and-desserts {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -50px;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .entree-and-plats-and-desserts {
    padding: 50px 10%;
  }
}
.btn-explore-commander {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.entree-and-plats-and-desserts .section-title {
  margin-bottom: 15px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: #99E2D0;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

.entree {
  padding: 40px 30px;
}

.plats {
  padding: 40px 30px;
}

.desserts {
  padding: 40px 30px;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.card-price {
  margin-left: auto;
  font-weight: bold;
  text-align: right;
  position: absolute;
  right: 0;
}

.title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-top: 30px;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .title-group {
    justify-content: center;
    gap: 30px;
  }
}
.entree-and-plats-and-desserts .heart-icon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.entree-and-plats-and-desserts .heart-icon .heart-empty,
.entree-and-plats-and-desserts .heart-icon .heart-full {
  position: absolute;
  top: 0;
  left: -51px;
  font-size: 25px;
}

@media screen and (min-width: 1024px) {
  .entree-and-plats-and-desserts .heart-icon .heart-empty,
  .entree-and-plats-and-desserts .heart-icon .heart-full {
    top: 2px;
    left: -11px;
  }
}
.entree-and-plats-and-desserts .heart-icon .heart-full {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.entree-and-plats-and-desserts .heart-icon:hover .heart-full {
  opacity: 1;
}

.entree-and-plats-and-desserts .heart-icon:hover .heart-empty {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  .section-entree-plats-desserts {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.card-check {
  position: absolute;
  right: 0; /* Place .card-check à l'extrême droite */
  height: 80px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  transform: translateX(20px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu-card .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-card .card:hover .card-check {
  opacity: 1; /* Devient visible */
  visibility: visible;
  transform: translateX(0);
}

.card-check i {
  color: white;
  font-size: 20px;
}

.card-price {
  transition: transform 0.3s ease-in-out;
}

.menu-card .card:hover .card-price {
  transform: translateX(-70px);
}

.menu-card .section-title {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.entree-title .section-title {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 100ms;
}

.entree .menu-card:nth-child(1) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 200ms;
}

.entree .menu-card:nth-child(2) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 300ms;
}

.entree .menu-card:nth-child(3) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 400ms;
}

.plats-title .section-title {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 500ms;
}

.plats .menu-card:nth-child(1) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 600ms;
}

.plats .menu-card:nth-child(2) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 700ms;
}

.plats .menu-card:nth-child(3) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 800ms;
}

.desserts-title .section-title {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 900ms;
}

.desserts .menu-card:nth-child(1) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 1000ms;
}

.desserts .menu-card:nth-child(2) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 1100ms;
}

.desserts .menu-card:nth-child(3) {
  animation: fadeInSlide 0.5s ease-out forwards;
  animation-delay: 1200ms;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=main.css.map */
