/****** FONCTIONNEMENT ***********/


.fonctionnement {
    padding: 50px 19px;
}

@media screen and (min-width: 1024px) {
    .fonctionnement {
        padding: 50px 10%;
    }
}

.fonctionnement h2 {
    font-size: 28px;
    margin-bottom: 20px;

}

.fonctionnement-btns  { 
    padding-left: 10px;
   
}

.fonctionnement-btns ol {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .fonctionnement .fonctionnement-btns ol {
        flex-direction: row;
        justify-content: center;
    }
}


.fonctionnement-btns li {
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    position: relative;
   
}

.fonctionnement-btns li::before {
    content: attr(value); 
    background-color: #9356DC;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -12px;

}

.fonctionnement-btn {
    padding: 30px 50px;
    width: 100%;
    font-size: 18px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}


.fonctionnement-btn i {
    font-size: 22px;
    color: #7E7E7E;
}

.fonctionnement-btns  li::before button:hover {
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.3); 
    filter: brightness(1.5);
    
}

.fonctionnement-btn:hover i {
    color: #9356DC;
}

/****** RESTAURANT ***********/

.restaurant {
    background-color: #f1f1f1; 
    padding: 50px 19px;
}

@media screen and (min-width: 1024px) {
    .restaurant {
        padding: 50px 10%;
    }
}
.restaurant h2 {
    font-size: 28px; 
    margin-bottom: 40px;      
}
.restaurant-cards {
    display: flex;            
    flex-direction: column;
    gap: 20px;                
    padding: 30 10px; 
}

@media screen and (min-width: 1024px) {
    .restaurant .restaurant-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .restaurant-cards a {
        width: 46%;
    }
}



.heart-container {
    position: absolute;
    top: 74%;
    right: 6%;
    cursor: pointer;
}


.heart-empty {
    position: absolute;
    top: 13px;
    left: -26px;
    font-size: 25px;
    color: black;
    transition: opacity 0.3s ease-in-out;
}


.heart-full {
    position: absolute;
    top: 13px;
    left: -26px;
    font-size: 25px;
    color: #9356DC;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.heart-container:hover .heart-empty {
    opacity: 0;
}
.heart-container:hover .heart-full {
    opacity: 1;
}

.heart-container:active .heart-empty {
    opacity: 0;
}
.heart-container:active .heart-full {
    opacity: 1;
}
